@import "tailwindcss";

@theme {
  --color-primary: #0047AB;
  --color-secondary: #000033;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background-color: white !important;
  color: #0f172a;
  margin: 0;
  padding: 0;
}